main p{
  /* color:black; */
  font-size:20px;
  text-align: justify;
  padding: 0 10px;
  font-weight: bold;
  /* font-style: italic; */
  text-indent: 2em;
  line-height: 1.3em;
  font-family: "Press Start 2P",cursive;
}
body{
  animation: textcolorchanger 10s infinite;
}

@@keyframes textcolorchanger {
  0%{
    color : black;
  }
  20%{
    color : red;
  }
  40%{
    color : lightgreen;
  }
  60%{
    color : lightblue;
  }
  80%{
    color : chartreuse;
  }
  100%{
    color : black;
  }
}
